<nav class="navbar navbar-expand-lg header">
  <div class="container-fluid">
    <logo></logo>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" #navbarNav id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="!isAdmin" class="nav-item">
          <a (click)="closeNavbar()" class="nav-link" [routerLink]="route.booking" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            {{ 'BOOKING.TITLE_N' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a (click)="closeNavbar()" class="nav-link" [routerLink]="route.tfg.list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            {{ 'TFG.TITLE_N' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a (click)="closeNavbar()" class="nav-link" [routerLink]="route.workingGroup.list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
             {{ 'WORKING_GROUP.TITLE_N' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a (click)="closeNavbar()" class="nav-link" [routerLink]="route.professor.list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
             {{ 'PROFESSOR.TITLE_N' | translate }}
          </a>
        </li>
        <li *ngIf="isAdmin" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
             {{ 'ADMIN.TITLE_1' | translate }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="adminDropdown">
            <li>
              <a (click)="closeNavbar()" class="dropdown-item" [routerLink]="route.student.list" routerLinkActive="active">
                {{ 'STUDENT.TITLE_N' | translate }}
              </a>
            </li>
            <li>
              <a (click)="closeNavbar()" class="dropdown-item" [routerLink]="route.admin.department.list" routerLinkActive="active">
                {{ 'DEPARTMENT.TITLE_N' | translate }}
              </a>
            </li>
            <li>
              <a (click)="closeNavbar()" class="dropdown-item" [routerLink]="route.admin.career.list" routerLinkActive="active">
                {{ 'CAREER.TITLE_N' | translate }}
              </a>
            </li>
            <li>
              <a (click)="closeNavbar()" class="dropdown-item" [routerLink]="route.admin.university.list" routerLinkActive="active">
                {{ 'UNIVERSITY.TITLE_N' | translate }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <div class="nav-link">
            <span (click)="selectUniversity()" *ngIf="selectedUniversityName">{{ selectedUniversityName }}</span>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link">
            <language-toggle></language-toggle>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link">
            <theme-toggle></theme-toggle>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link">
            <profile-dropdown (onNavigation)="closeNavbar()"></profile-dropdown>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
