<div class="mat-elevation-z8">
    <mat-card>
        <mat-card-header>
            <mat-card-title class="mb-2">{{ 'TFG.TITLE_N' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="tfgs" class="mat-table">
                <!-- Nombre Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.NAME' | translate }}</th>
                    <td mat-cell *matCellDef="let tfg">{{ tfg.name }}</td>
                </ng-container>

                <!-- Descripción Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.DESCRIPTION' | translate }}</th>
                    <td mat-cell *matCellDef="let tfg">{{ tfg.description }}</td>
                </ng-container>

                <!-- Departamento Column -->
                <ng-container matColumnDef="department">
                    <th mat-header-cell *matHeaderCellDef>{{ 'DEPARTMENT.TITLE_1' | translate }}</th>
                    <td mat-cell *matCellDef="let tfg">{{ tfg.department!.name }}</td>
                </ng-container>

                <!-- Plazas Column -->
                <ng-container matColumnDef="slots">
                    <th mat-header-cell *matHeaderCellDef>{{ 'TFG.SLOTS' | translate }}</th>
                    <td mat-cell *matCellDef="let tfg">{{ tfg.slots }}</td>
                </ng-container>

                <!-- Acciones Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.ACTIONS' | translate }}</th>
                    <td mat-cell *matCellDef="let tfg">
                        <button mat-icon-button color="primary" (click)="onEdit(tfg)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="onDelete(tfg)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Header and Row Definitions -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>