<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3>{{ 'TFG.TITLE_N' | translate }}</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Grados</th>
                            <th>Plazas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Elemento 1</td>
                            <td>Grado A</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Elemento 2</td>
                            <td>Grado B</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Elemento 3</td>
                            <td>Grado C</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>Elemento 4</td>
                            <td>Grado D</td>
                            <td>12</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
