<a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
    aria-expanded="false">
    <i class="fa-solid fa-user"></i>
</a>
<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
    <li *ngIf="!isAdmin">
        <a class="dropdown-item" (click)="onNavigation.emit()" [routerLink]="profileRoute" routerLinkActive="active">
            {{ 'PROFILE.TITLE_1' | translate }}
        </a>
    </li>
    <li *ngIf="isAdmin">
        <a class="dropdown-item" (click)="changeUniversity()">
            {{ 'UNIVERSITY.CHANGE' | translate }}
        </a>
    </li>
    <li>
        <a class="dropdown-item" (click)="logout()">
            {{ 'GLOBAL.LOGOUT' | translate }}
        </a>
    </li>
</ul>