<div class="basic-page">
    <h2 class="mb-4">{{ 'STUDENT.TITLE_N' | translate }}</h2>
    <div class="container-fluid">
        <form [formGroup]="filterForm" (ngSubmit)="onSearch()">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3 mb-2">
                    <mat-form-field appearance="fill" class="form-field w-100">
                        <mat-label>{{ 'GLOBAL.SEARCH' | translate }}</mat-label>
                        <input matInput formControlName="generic" />
                    </mat-form-field>
                </div>
                <ng-container *ngIf="showExtraFilters">
                    <div class="col-12 col-sm-6 col-md-3 mb-2">
                        <mat-form-field appearance="fill" class="form-field w-100">
                            <mat-label>{{ 'GLOBAL.NAME' | translate }}</mat-label>
                            <input matInput formControlName="name" />
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 mb-2">
                        <mat-form-field appearance="fill" class="form-field w-100">
                            <mat-label>{{ 'GLOBAL.SURNAME' | translate }}</mat-label>
                            <input matInput formControlName="surname" />
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 mb-2">
                        <mat-form-field appearance="fill" class="form-field w-100">
                            <mat-label>{{ 'GLOBAL.EMAIL' | translate }}</mat-label>
                            <input matInput formControlName="email" />
                        </mat-form-field>
                    </div>
                    
                    <div class="col-12 col-sm-6 col-md-3 mb-2">
                        <mat-form-field appearance="fill" class="form-field w-100">
                            <mat-label>{{ 'CAREER.TITLE_1' | translate }}</mat-label>
                            <input matInput formControlName="career" />
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 mb-2">
                        <mat-form-field appearance="fill" class="form-field w-100">
                            <mat-label>{{ 'UNIVERSITY.TITLE_1' | translate }}</mat-label>
                            <input matInput formControlName="university" />
                        </mat-form-field>
                    </div>
                </ng-container>
                <div class="col-12 col-sm-6 col-md-3 mb-2">
                    <button mat-raised-button class="action-button" type="submit">
                        {{ 'GLOBAL.SEARCH' | translate }}
                    </button>
                    <button mat-raised-button class="action-button" type="button" (click)="onClearFilters()">
                        {{ 'GLOBAL.CLEAR_FILTERS' | translate }}
                    </button>
                    <button mat-icon-button (click)="onShowExtraFilters()">
                        <mat-icon>filter_list</mat-icon>
                    </button>
                </div>
            </div>

        </form>
        <!-- <div class="row mt-2"> -->
            <div class="mb-2 d-flex align-items-end justify-content-end">
                    <button mat-raised-button class="action-button create-button" type="button" (click)="onCreate()">
                        {{ 'GLOBAL.CREATE' | translate }}
                    </button>
            </div>
        <!-- </div> -->
    </div>
    <student-list (onDeleteStudent)="deleteStudent($event)" [students]="filteredStudents"></student-list>
</div>