<h2 mat-dialog-title>Importar archivo CSV</h2>
<mat-dialog-content>
  <form>
    <div class="mb-3">
      <label for="csvFile" class="form-label">{{ format }}</label>
        <p class="text-muted">{{ 'GLOBAL.IMPORT_FORMAT_DESCRIPTION' | translate }}</p>
      <input type="file" class="form-control" id="csvFile" accept=".csv" (change)="onFileSelected($event)">
    </div>
    <div *ngIf="fileName" class="alert alert-info py-2">
      {{ 'GLOBAL.SELECTED_FILE' | translate }}<strong>{{ fileName }}</strong>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'GLOBAL.CANCEL' | translate }}</button>
  <button mat-raised-button color="primary" (click)="onImport()" [disabled]="!selectedFile">{{ 'GLOBAL.IMPORT' | translate }}</button>
</mat-dialog-actions>