<h2 mat-dialog-title>{{ 'AUTH.CHANGE_PASSWORD' | translate }}</h2>
<form [formGroup]="changePasswordForm" (ngSubmit)="onConfirm()" class="change-password-form">
  <mat-dialog-content class="dialog-content">
    <p class="dialog-description">{{ 'AUTH.CHANGE_PASSWORD_FOR' | translate }} {{ data.username }}</p>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'AUTH.CURRENT_PASSWORD' | translate }}</mat-label>
      <input matInput type="password" formControlName="OldPassword" />
      <mat-error *ngIf="changePasswordForm.get('OldPassword')?.invalid">
        {{ 'ERROR.PASSWORD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'AUTH.NEW_PASSWORD' | translate }}</mat-label>
      <input matInput type="password" formControlName="NewPassword" />
      <mat-error *ngIf="changePasswordForm.get('NewPassword')?.invalid">
        {{ 'ERROR.PASSWORD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'AUTH.CONFIRM_PASSWORD' | translate }}</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
      <mat-error *ngIf="changePasswordForm.hasError('passwordsMismatch')">
        {{ 'ERROR.PASSWORDS_MISMATCH' | translate }}
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button (click)="onCancel()" class="cancel-button">{{ 'GLOBAL.CANCEL' | translate }}</button>
    <button mat-raised-button color="primary" [disabled]="changePasswordForm.invalid" class="accept-button">
      {{ 'GLOBAL.ACCEPT' | translate }}
    </button>
  </mat-dialog-actions>
</form>