<div class="basic-page">
    <h2 *ngIf="!creation" class="mb-3">{{ group?.name }}</h2>
    <h2 *ngIf="creation" class="mb-3">{{ 'WORKING_GROUP.NEW' | translate }}</h2>

    <form class="group-form" [formGroup]="groupForm">
        <!-- Nombre y descripción -->
        <div class="row">
            <div class="col-12 col-md-6 mb-2">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{ 'GLOBAL.NAME' | translate }}</mat-label>
                    <input matInput formControlName="name" placeholder="{{ 'GLOBAL.NAME' | translate }}" />
                    <mat-error *ngIf="groupForm.get('name')?.invalid">{{ 'ERROR.NAME_REQUIRED' | translate
                        }}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{ 'GLOBAL.DESCRIPTION' | translate }}</mat-label>
                    <textarea matInput formControlName="description"
                        placeholder="{{ 'GLOBAL.DESCRIPTION' | translate }}"></textarea>
                    <mat-error *ngIf="groupForm.get('description')?.invalid">{{ 'ERROR.DESCRIPTION_REQUIRED' | translate
                        }}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <!-- Privado y añadir estudiante por email -->
        <div class="row align-items-center">
            <div class="col-12 col-md-4 mb-2">
                <mat-checkbox formControlName="isPrivate">
                    {{ 'WORKING_GROUP.PRIVATE' | translate }}
                </mat-checkbox>
            </div>
            <div *ngIf="canEdit && !creation" class="col-12 col-md-8 mb-2">
                <div class="d-flex align-items-end gap-2">
                    <div class="flex-grow-1">
                        <p class="mb-1" style="white-space: normal; word-break: break-word;">
                            {{ 'WORKING_GROUP.ADD_STUDENT_EMAIL' | translate }}
                        </p>
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>{{ 'GLOBAL.EMAIL' | translate }}</mat-label>
                            <input matInput formControlName="newStudentEmail" />
                            <mat-error *ngIf="groupForm.get('newStudentEmail')?.invalid">{{ 'ERROR.EMAIL_REQUIRED' |
                                translate }}</mat-error>
                        </mat-form-field>
                    </div>
                    <button mat-icon-button class="add-button align-self-md-end"
                        [ngClass]="groupForm.get('newStudentEmail')?.invalid ? 'disabled' : ''" type="button"
                        (click)="addStudentByEmail()">
                        <mat-icon>add</mat-icon>
                    </button>

                </div>
            </div>
        </div>

        <!-- Mensaje solo para miembros -->
        <div class="row">
            <div *ngIf="canEdit && !creation && !isAdmin" class="col-12 mb-2">
                <div class="d-flex flex-column flex-md-row align-items-md-end gap-2">
                    <div class="flex-grow-1">
                        <p class="mb-1" style="white-space: normal; word-break: break-word;">
                            {{ 'WORKING_GROUP.SEND_MESSAGE' | translate }}
                        </p>
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>{{ 'GLOBAL.MESSAGE' | translate }}</mat-label>
                            <textarea matInput formControlName="message"></textarea>
                        </mat-form-field>
                    </div>
                    <button mat-icon-button class="add-button align-self-md-end" type="button" (click)="sendMessage()">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <!-- Selección de profesor solo para admin en creación -->
        <div class="row" *ngIf="isAdmin && creation">
            <div class="col-12 mb-2">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{ 'WORKING_GROUP.SELECT_PROFESSOR' | translate }}</mat-label>
                    <mat-select (selectionChange)="cambiarProfessor($event.value)">
                        <mat-option *ngFor="let professor of professorList" [value]="professor.id">
                            {{ professor.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>

    <!-- Listados de profesores y estudiantes -->
    <ng-container>
        <professor-list *ngIf="professors.length > 0 && !creation" (onDeleteProfessor)="deleteProfessor($event)"
            [displayedColumns]="professorColumns" [professors]="professors" [groupId]="group!.id"></professor-list>
        <student-list *ngIf="students.length > 0 && !creation" (onDeleteStudent)="deleteStudent($event)"
            [displayedColumns]="studentColumns" [students]="students" [groupId]="group!.id"></student-list>
    </ng-container>

    <!-- Botones de acción -->
    <div class="actions d-flex flex-wrap gap-2 mt-3">
        <div class=" d-flex flex-wrap gap-2">
            <button *ngIf="canEdit && (creation ? true : (userAlreadyInGroup || isAdmin))" mat-raised-button
                class="action-button flex-grow-1" [ngClass]="groupForm.invalid ? 'disabled' : ''" type="submit"
                [disabled]="groupForm.invalid" (click)="onSubmit()">
                {{ creation ? ('GLOBAL.CREATE' | translate) : ('GLOBAL.UPDATE' | translate) }}
            </button>
            <button *ngIf="!userAlreadyInGroup && !isAdmin && !creation && !(group!.isPrivate)" mat-raised-button
                class="action-button flex-grow-1" (click)="onJoin()">
                {{ 'WORKING_GROUP.JOIN' | translate }}
            </button>
            <button *ngIf="userAlreadyInGroup && !isAdmin && !creation" mat-raised-button
                class="action-button flex-grow-1" (click)="onLeave()">
                {{ 'WORKING_GROUP.LEAVE' | translate }}
            </button>
            <button mat-raised-button class="action-button flex-grow-1" type="button" (click)="onCancel()">
                {{ 'GLOBAL.CANCEL' | translate }}
            </button>
        </div>
        <!-- Eliminar en nueva fila solo en pantallas pequeñas -->
        <div class="w-100 d-block d-md-none mt-5">
            <button *ngIf="canEdit && !creation" mat-raised-button class="action-button delete-button w-100"
                type="button" (click)="onDelete()">
                {{ 'GLOBAL.DELETE' | translate }}
            </button>
        </div>
        <!-- Eliminar en la misma fila en escritorio -->
        <button *ngIf="canEdit && !creation" mat-raised-button
            class="action-button delete-button flex-grow-1 d-none d-md-block" type="button" (click)="onDelete()">
            {{ 'GLOBAL.DELETE' | translate }}
        </button>
    </div>
</div>