<div class="mat-elevation-z8">
    <mat-card>
        <mat-card-header>
            <mat-card-title class="mb-2">{{ 'PROFESSOR.TITLE_N' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngIf="professors && professors.length > 0; else noResults">
                <table mat-table [dataSource]="professors" class="mat-table">
                    <!-- Columna combinada solo para móvil -->
                    <ng-container matColumnDef="nameEmail">
                        <th mat-header-cell *matHeaderCellDef class="mobile-only">{{ 'GLOBAL.NAME' | translate }} {{ 'GLOBAL.SURNAME' | translate }} <div class="responsive-email">  {{'GLOBAL.EMAIL' | translate }}</div><div *ngIf="!groupId" class="responsive-extra-info">{{ 'DEPARTMENT.TITLE_1' | translate }}</div></th>
                        <td mat-cell *matCellDef="let professor" class="mobile-only">
                            <div>
                                <div>{{ professor.name }} {{ professor.surname }}</div>
                                <div class="responsive-email">{{ professor.email }}</div>
                                <div *ngIf="!groupId" class="responsive-extra-info">{{ professor.department?.name }}</div>
                            </div>
                        </td>
                    </ng-container>
                    <!-- Nombre Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="desktop-only">{{ 'GLOBAL.NAME' | translate }}</th>
                        <td mat-cell *matCellDef="let professor" class="desktop-only">{{ professor.name }}</td>
                    </ng-container>
                    <!-- Apellido Column -->
                    <ng-container matColumnDef="surname">
                        <th mat-header-cell *matHeaderCellDef class="desktop-only">{{ 'GLOBAL.SURNAME' | translate }}
                        </th>
                        <td mat-cell *matCellDef="let professor" class="desktop-only">{{ professor.surname }}</td>
                    </ng-container>
                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef class="desktop-only">{{ 'GLOBAL.EMAIL' | translate }}</th>
                        <td mat-cell *matCellDef="let professor" class="desktop-only">{{ professor.email }}</td>
                    </ng-container>

                    <!-- Departamento Column -->
                    <ng-container matColumnDef="department">
                        <th mat-header-cell *matHeaderCellDef class="desktop-only">{{ 'DEPARTMENT.TITLE_1' | translate }}</th>
                        <td mat-cell *matCellDef="let professor">{{ professor.department?.name }}</td>
                    </ng-container>

                    <!-- Acciones Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.ACTIONS' | translate }}</th>
                        <td mat-cell *matCellDef="let professor">
                            <button mat-icon-button color="primary" *ngIf="!groupId" (click)="onEdit(professor)">
                                <mat-icon>{{ canEdit ? 'edit' : 'remove_red_eye'}}</mat-icon>
                            </button>
                            <button *ngIf="canEdit" mat-icon-button color="warn" (click)="onDelete(professor)">
                                <mat-icon>{{ !groupId ? 'delete' : 'clear' }}</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <!-- Header and Row Definitions -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </ng-container>
            <ng-template #noResults>
                <div class="text-center py-4">
                    {{ (!universitiesSelected  || universitiesSelected.length == 0 ? 'GLOBAL.NO_UNIVERSITY_SELECTED' : 'GLOBAL.NO_RESULTS') | translate }}
                    <a *ngIf="!universitiesSelected  || universitiesSelected.length == 0" class="cursor-pointer" (click)="changeUniversity()">
                        {{ 'UNIVERSITY.CHANGE' | translate }}
                    </a>
                </div>
            </ng-template>
        </mat-card-content>
    </mat-card>
</div>