<div class="basic-page">
  <h2>{{ 'BOOKING.TITLE_N' | translate }}</h2>
  <div class="container mt-4">
    <div class="row">
        <!-- TFGs -->
        <div class="col-md-6">
            <tfg-list></tfg-list>
        </div>

        <!-- Grupos de estudio -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>{{ 'BOOKING.GROUP' | translate }}</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">Elemento A</li>
                        <li class="list-group-item">Elemento B</li>
                        <li class="list-group-item">Elemento C</li>
                        <li class="list-group-item">Elemento D</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
