<div class="basic-page">
  <h2>{{ 'BOOKING.TITLE_N' | translate }}</h2>
  <div class="container mt-4">
    <div class="row">
        <!-- TFGs -->
        <div class="col-md-6">
            <tfg-list [tfgs]="tfgs" [displayedColumns]="displayedTFGColumns"></tfg-list>
        </div>
        <!-- Grupos de estudio -->
        <div class="col-md-6 mt-4 mt-md-0">
            <group-list [groups]="workingGroups" [displayedColumns]="displayedGroupColumns"></group-list>
        </div>
    </div>
    <div *ngIf="isProfessor" class="row mt-4">
        <div>
            <tfg-request-list (requestAccepted)="changeStatus($event)" (procesedRequest)="removeRequest($event)" [tfgStudentRequests]="pendingTfgs"></tfg-request-list>
        </div>
    </div>
</div>
