
<div class="basic-page">
    <h2 class="mb-4">{{ 'TFG.LINES_TITLE_N' | translate }}</h2>
    <div class="form-row">
        <form [formGroup]="filterForm" (ngSubmit)="onSearch()" class="form-row">
            <mat-form-field appearance="fill" class="form-field small-field">
                <mat-label>{{ 'GLOBAL.SEARCH' | translate }}</mat-label>
                <input matInput formControlName="filter" />
            </mat-form-field>
    
            <button mat-raised-button class="action-button" type="submit">
                {{ 'GLOBAL.SEARCH' | translate }}
            </button>
    
            <button mat-raised-button class="action-button" type="button" (click)="onClearFilters()">
                {{ 'GLOBAL.CLEAR_FILTERS' | translate }}
            </button>
        </form>
        <button *ngIf="isAdmin" mat-raised-button class="action-button create-button" type="button" (click)="onCreate()">
            {{ 'GLOBAL.CREATE' | translate }}
        </button>
    </div>
    <tfg-list (onDeleteTfg)="deleteTfg($event)" [tfgs]="filteredTfgs"></tfg-list>
</div>
